<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile | Election</title>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="header">
        <a class="logo">Voting App</a>
        <ul>
          <li><a href="/vote">Vote</a></li>
          <li class="active"><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <% if (typeof(message) !=="undefined") { %> <%- include('partials/alert',
    {message}); %> <% } %>
    <div class="global-container">
      <div class="card" style="min-width: 600px;">
        <div class="card-body">
          <h3 class="card-title text-center">Profile</h3>
          <div class="card-text">
            <form method="POST" action="/profile">
              <div class="form-group">
                <label for="email">Email address</label>
                <input
                  type="email"
                  class="form-control form-control-sm"
                  id="email"
                  name="email"
                  disabled
                />
              </div>
              <div class="form-group">
                <label for="ssn">SSN</label>
                <input
                  type="text"
                  name="ssn"
                  class="form-control form-control-sm"
                  id="ssn"
                  required
                />
              </div>
              <div class="form-group">
                <label for="phone">Phone no</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  id="phone"
                  name="phone"
                  required
                />
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="address"
                  name="address"
                  required
                />
              </div>
              <div class="form-group">
                <label for="phrase">Secrete Phrase</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="phrase"
                  name="phrase"
                  disabled
                />
              </div>
              <input name="account" id="accountAddress" hidden />
              <button
                type="submit"
                style="width: 100px;"
                class="btn btn-primary btn-block"
              >
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/web3.min.js"></script>
    <script src="/js/truffle-contract.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
